@media screen and (max-width: 1061px) {  
    nav .logo {
      float: none;
      width: auto;
      justify-content: center;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0,0,0,.8);
      overflow: hidden;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
    }
    nav .links a {
      font-size: 20px;
      padding-bottom: 10px;
    }
    nav :checked ~ .links {
      bottom: 30%;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg); 
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
    .slick-dots li button:before{
      font-size: 10px;
    }
    
  }

  @media screen and (max-width: 768px) {  
    .about_warapper{
      flex-direction: column;
    }
    .about_text, .about_img{
      width: 100%;
    }
    .boxes{
      grid-template-columns: auto auto;
      gap: 15px ;
    }
    .invetory_boxes , .contact_us{
      grid-template-columns: auto;
    }
    .contact_info{
      margin: unset !important;
    }
    .footer_grid{
      grid-template-columns: auto ;
      gap: 20px 0;
    }
    .wrapper_single_car{
      flex-direction: column;
    }
    .singel_car_images{
      width: 100%;
    }
    .single_car_info{
      width: 100%;
      margin: 50px 0;
    }
    .ourteam_img{
      grid-template-columns: auto ;
    }
    .about_page_title{
      width: 100%;
    }
    .service_page .boxes{
      grid-template-columns: auto;
      gap: 70px;
    }
    .invetory_boxes_page{
      grid-template-columns: auto;
    }
    .form_contact_section{
      width: 100%;
    }
    .login_box{
      width: 100%;
      margin: 50px auto;
    }

  }

  @media screen and (max-width: 425px){
    .wrapper , .wrapper_single_car{
      width: 90%;
    }
  }